.bkg{
    background-color: black;
}
label{
    color: white;
}
h2{
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: auto 
}
.ct{
    display: grid;
  grid-template-columns: auto auto auto;
}

.tf{
    display: grid;
    grid-template-columns: auto auto auto auto;    
}
.ftr{
    background-color: rgb(57, 214, 214);
}
